<div class="chat-room-info">
    <h1 class="title-top" ng-show="home.roomData.currentRoom === null">Please Choose A Room</h1>
    <h1 class="title-top"> {{ home.roomData.currentRoom.name }}</h1>
    <hr>
        <div ng-repeat="message in home.roomData.currentMessages">
            <div class="msg-each row">
                 <div class="col-md-1" ng-class-odd="'col-xs-push-1'">
                  <p class="username">{{ message.username }}</p>
                </div>
                 <div class="col-xs-5" ng-class-odd="'col-xs-push-1'">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            {{ message.content }}<br>
                            <span class="label label-info"> sent at {{ message.sentAt | date: 'h:mma' }} </span>
                        </div>
                    </div>
                </div><!--/col-->
            </div><!--/row-->

  	     </div><!--/col-->

    <div>
        <h2 class="text-center">Send A Message</h2>
         <div class="col-sm-12">
    	   <div class="input-group">
            <input class="form-control input-large" type="text" placeholder="New Message" id="inputText" ng-model="home.messageName">
                <span class="input-group-addon" ng-click="home.sendMessage(home.messageName)">Send</span>
            </div>
        </div>
     </div>
</div>
