<section class="chat-room">
  <div class="back">
    <h1 class="room-name">Current room is: {{ home.roomData.currentRoom.name }}</h1>
  </div>
    <ol class="chat">
        <li class="messages">
            <div class="chat-content" ng-repeat="message in home.roomData.currentMessages">
                <p>{{ message.username }}</p>
                <p>{{ message.content }}</p>
                <time>{{ message.sentAt }}</time>
            </div>
            <div>Message:
            <form ng-submit="home.messageData">
                <input ng-model="home.messageName">
                <button class="btn btn-primary" type="button" ng-click="home.sendMessage(home.messageName)">Send</button>
            </form>
            </div>
        </li>
    </ol>
</section>